<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditRetraitTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditRetraitLabel_retraitId}" for="retraitId" />
                    <h:inputText id="retraitId" value="#{retraitController.selected.retraitId}" title="#{bundle.EditRetraitTitle_retraitId}" required="true" requiredMessage="#{bundle.EditRetraitRequiredMessage_retraitId}"/>
                    <h:outputLabel value="#{bundle.EditRetraitLabel_compteId}" for="compteId" />
                    <h:inputText id="compteId" value="#{retraitController.selected.compteId}" title="#{bundle.EditRetraitTitle_compteId}" required="true" requiredMessage="#{bundle.EditRetraitRequiredMessage_compteId}"/>
                    <h:outputLabel value="#{bundle.EditRetraitLabel_retrait}" for="retrait" />
                    <h:inputText id="retrait" value="#{retraitController.selected.retrait}" title="#{bundle.EditRetraitTitle_retrait}" required="true" requiredMessage="#{bundle.EditRetraitRequiredMessage_retrait}"/>
                </h:panelGrid>
                <h:commandLink action="#{retraitController.update}" value="#{bundle.EditRetraitSaveLink}"/>
                <br />
                <br />
                <h:commandLink action="View" value="#{bundle.EditRetraitViewLink}" immediate="true"/>
                <br />
                <h:commandLink action="#{retraitController.prepareList}" value="#{bundle.EditRetraitShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.EditRetraitIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
