<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDepotTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDepotLabel_depotId}" for="depotPK.depotDepartmentNumber" />
                    <h:inputText id="depotId" value="#{depotController.selected.depotId}" title="#{bundle.CreateDepotTitle_depotId}" required="true" requiredMessage="#{bundle.CreateDepotRequiredMessage_depotId}"/>
                    <h:outputLabel value="#{bundle.CreateDepotLabel_compteId}" for="compteId" />
                    <h:inputText id="compteId" value="#{depotController.selected.compteId}" title="#{bundle.CreateDepotTitle_compteId}" required="true" requiredMessage="#{bundle.CreateDepotRequiredMessage_compteId}"/>
                    <h:outputLabel value="#{bundle.CreateDepotLabel_versement}" for="versement" />
                    <h:inputText id="versement" value="#{depotController.selected.versement}" title="#{bundle.CreateDepotTitle_versement}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{depotController.create}" value="#{bundle.CreateDepotSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{depotController.prepareList}" value="#{bundle.CreateDepotShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.CreateDepotIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
