<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListFactureTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
        <h:form styleClass="jsfcrud_list_form">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:outputText escape="false" value="#{bundle.ListFactureEmpty}" rendered="#{factureController.items.rowCount == 0}"/>
            <h:panelGroup rendered="#{factureController.items.rowCount > 0}">
                <h:outputText value="#{factureController.pagination.pageFirstItem + 1}..#{factureController.pagination.pageLastItem + 1}/#{factureController.pagination.itemsCount}"/>&nbsp;
                <h:commandLink action="#{factureController.previous}" value="#{bundle.Previous} #{factureController.pagination.pageSize}" rendered="#{factureController.pagination.hasPreviousPage}"/>&nbsp;
                <h:commandLink action="#{factureController.next}" value="#{bundle.Next} #{factureController.pagination.pageSize}" rendered="#{factureController.pagination.hasNextPage}"/>&nbsp;
                <h:dataTable value="#{factureController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListFactureTitle_factureId}"/>
                        </f:facet>
                        <h:outputText value="#{item.factureId}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListFactureTitle_compteId}"/>
                        </f:facet>
                        <h:outputText value="#{item.compteId}"/>             
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListFactureTitle_depotId}"/>
                        </f:facet>
                        <h:outputText value="#{item.depotId}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListFactureTitle_retraitId}"/>
                        </f:facet>
                        <h:outputText value="#{item.retraitId}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListFactureTitle_solde}"/>
                        </f:facet>
                        <h:outputText value="#{item.solde}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListFactureTitle_versement}"/>
                        </f:facet>
                        <h:outputText value="#{item.versement}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListFactureTitle_description}"/>
                        </f:facet>
                        <h:outputText value="#{item.description}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListFactureTitle_retrait}"/>
                        </f:facet>
                        <h:outputText value="#{item.retrait}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListFactureTitle_depot}"/>
                        </f:facet>
                        <h:outputText value="#{item.depot}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="&nbsp;"/>
                        </f:facet>
                        <h:commandLink action="#{factureController.prepareView}" value="#{bundle.ListFactureViewLink}"/>
                        <h:outputText value=" "/>
                        <h:commandLink action="#{factureController.prepareEdit}" value="#{bundle.ListFactureEditLink}"/>
                        <h:outputText value=" "/>
                        <h:commandLink action="#{factureController.destroy}" value="#{bundle.ListFactureDestroyLink}"/>
                    </h:column>
                </h:dataTable>
            </h:panelGroup>
            <br />
            <h:commandLink action="#{factureController.prepareCreate}" value="#{bundle.ListFactureCreateLink}"/>
            <br />
            <br />
            <h:commandLink value="#{bundle.ListFactureIndexLink}" action="/index" immediate="true" />
        </h:form>
        </ui:define>
    </ui:composition>

</html>
