<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewFactureTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewFactureLabel_factureId}"/>
                    <h:outputText value="#{factureController.selected.factureId}" title="#{bundle.ViewFactureTitle_factureId}"/>
                    <h:outputText value="#{bundle.ViewFactureLabel_compteId}"/>
                    <h:outputText value="#{factureController.selected.compteId}" title="#{bundle.ViewFactureTitle_compteId}"/>
                    <h:outputText value="#{bundle.ViewFactureLabel_depotId}"/>
                    <h:outputText value="#{factureController.selected.depotId}" title="#{bundle.ViewFactureTitle_depotId}"/>
                    <h:outputText value="#{bundle.ViewFactureLabel_retraitId}"/>
                    <h:outputText value="#{factureController.selected.retraitId}" title="#{bundle.ViewFactureTitle_retraitId}"/>
                    <h:outputText value="#{bundle.ViewFactureLabel_solde}"/>
                    <h:outputText value="#{factureController.selected.solde}" title="#{bundle.ViewFactureTitle_solde}"/>
                    <h:outputText value="#{bundle.ViewFactureLabel_versement}"/>
                    <h:outputText value="#{factureController.selected.versement}" title="#{bundle.ViewFactureTitle_versement}"/>
                    <h:outputText value="#{bundle.ViewFactureLabel_description}"/>
                    <h:outputText value="#{factureController.selected.description}" title="#{bundle.ViewFactureTitle_description}"/>
                    <h:outputText value="#{bundle.ViewFactureLabel_retrait}"/>
                    <h:outputText value="#{factureController.selected.retrait}" title="#{bundle.ViewFactureTitle_retrait}"/>
                    <h:outputText value="#{bundle.ViewFactureLabel_depot}"/>
                    <h:outputText value="#{factureController.selected.depot}" title="#{bundle.ViewFactureTitle_depot}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{factureController.destroyAndView}" value="#{bundle.ViewFactureDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewFactureEditLink}"/>
                <br />
                <h:commandLink action="#{factureController.prepareCreate}" value="#{bundle.ViewFactureCreateLink}" />
                <br />
                <h:commandLink action="#{factureController.prepareList}" value="#{bundle.ViewFactureShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewFactureIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
