<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateConsultantTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateConsultantLabel_consultantId}" for="consultantId" />
                    <h:inputText id="consultantId" value="#{consultantController.selected.consultantId}" title="#{bundle.CreateConsultantTitle_consultantId}" required="true" requiredMessage="#{bundle.CreateConsultantRequiredMessage_consultantId}"/>
                    <h:outputLabel value="#{bundle.CreateConsultantLabel_statusId}" for="statusId" />
                    <h:inputText id="statusId" value="#{consultantController.selected.statusId}" title="#{bundle.CreateConsultantTitle_statusId}" required="true" requiredMessage="#{bundle.CreateConsultantRequiredMessage_statusId}"/>
                    <h:outputLabel value="#{bundle.CreateConsultantLabel_email}" for="email" />
                    <h:inputText id="email" value="#{consultantController.selected.email}" title="#{bundle.CreateConsultantTitle_email}" required="true" requiredMessage="#{bundle.CreateConsultantRequiredMessage_email}"/>
                    <h:outputLabel value="#{bundle.CreateConsultantLabel_prenom}" for="prenom" />
                    <h:inputText id="prenom" value="#{consultantController.selected.prenom}" title="#{bundle.CreateConsultantTitle_prenom}" required="true" requiredMessage="#{bundle.CreateConsultantRequiredMessage_prenom}"/>
                    <h:outputLabel value="#{bundle.CreateConsultantLabel_nom}" for="nom" />
                    <h:inputText id="nom" value="#{consultantController.selected.nom}" title="#{bundle.CreateConsultantTitle_nom}" required="true" requiredMessage="#{bundle.CreateConsultantRequiredMessage_nom}"/>                                   
<!--                    <h:outputLabel value="#{bundle.CreateConsultantLabel_statusId}" for="statusId" />-->
<!--                        <h:selectOneMenu id="statusId" value="#{consultantController.selected.statusId}" title="#{bundle.CreateConsultantTitle_statusId}" required="true" requiredMessage="#{bundle.CreateConsultantRequiredMessage_statusId}">
                            <f:selectItems value="#{consultantStatusController.itemsAvailableSelectOne}"/>
                        </h:selectOneMenu>-->
                </h:panelGrid>
                <br />
                <h:commandLink action="#{consultantController.create}" value="#{bundle.CreateConsultantSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{consultantController.prepareList}" value="#{bundle.CreateConsultantShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.CreateConsultantIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
