<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewConsultantTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewConsultantLabel_consultantId}"/>
                    <h:outputText value="#{consultantController.selected.consultantId}" title="#{bundle.ViewConsultantTitle_consultantId}"/>
                    <h:outputText value="#{bundle.ViewConsultantLabel_email}"/>
                    <h:outputText value="#{consultantController.selected.email}" title="#{bundle.ViewConsultantTitle_email}"/>
                    <h:outputText value="#{bundle.ViewConsultantLabel_statusId}"/>
                    <h:outputText value="#{consultantController.selected.statusId}" title="#{bundle.ViewConsultantTitle_statusId}"/>
                    <h:outputText value="#{bundle.ViewConsultantLabel_prenom}"/>
                    <h:outputText value="#{consultantController.selected.prenom}" title="#{bundle.ViewConsultantTitle_prenom}"/>
                    <h:outputText value="#{bundle.ViewConsultantLabel_nom}"/>
                    <h:outputText value="#{consultantController.selected.nom}" title="#{bundle.ViewConsultantTitle_nom}"/>                   
                    <h:outputText value="#{bundle.ViewConsultantLabel_statusId}"/>
                    <h:outputText value="#{consultantController.selected.statusId}" title="#{bundle.ViewConsultantTitle_statusId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{consultantController.destroyAndView}" value="#{bundle.ViewConsultantDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewConsultantEditLink}"/>
                <br />
                <h:commandLink action="#{consultantController.prepareCreate}" value="#{bundle.ViewConsultantCreateLink}" />
                <br />
                <h:commandLink action="#{consultantController.prepareList}" value="#{bundle.ViewConsultantShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewConsultantIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
