<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Système de compte bancaire</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Gestion de compte en banque
        <h:form>
            <h:commandLink action="/compte/List" value="Vue des comptes"/>
        </h:form>
        <h:form>
            <h:commandLink action="/depot/List" value="Vues des depots"/>
        </h:form>
        <h:form>
            <h:commandLink action="/facture/List" value="Vue des factures"/>
        </h:form>
        <h:form>
            <h:commandLink action="/consultant/List" value="Vue des consultants"/>
        </h:form>
        <h:form>
            <h:commandLink action="/consultantStatus/List" value="Vue des consultants status"/>
        </h:form>
        <h:form>
            <h:commandLink action="/retrait/List" value="Vue des retraits"/>
        </h:form>
    </h:body>
</html>

